# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [290]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schooldata_df = pd.read_csv(school_data_to_load)
studentdata_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(schooldata_df, studentdata_df, how="left", on=["school_name"])
school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## District Summary

In [291]:
# Calculate the total number of unique schools
#create aary of school name
schoolnamescount = school_data_complete['school_name'].unique()
#find length and count
school_count = len(schoolnamescount)
school_count

15

In [292]:
# Calculate the total number of students
dist_student_count = schooldata_df['size'].sum()
dist_student_count
#39170

#check data again student dataframe
#total_student_rec = school_data_complete['student_name'].count()
#total_student_rec

39170

In [293]:
# Calculate the total budget
total_budget = schooldata_df.loc[:,'budget'].sum()
total_budget

24649428

In [294]:
# Calculate the average (mean) math score
average_mathscore = studentdata_df['math_score'].mean()
average_mathscore

78.98537145774827

In [295]:
# Calculate the average (mean) reading score
#average_readingscore = school_data_complete['reading_score'].mean()
#average_readingscore
#81.87778....

avg_readingscore = studentdata_df['reading_score'].mean()
avg_readingscore

81.87784018381414

In [296]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
#passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
#passing_math_percentage = passing_math_count / float(student_count) *100
#passing_math_percentage

#rewrite to a correctly working formual
passing_math_count = school_data_complete.loc[school_data_complete['math_score'] >= 70]['math_score'].count()
perc_pass_math = passing_math_count/dist_student_count
perc_pass_math

0.749808526933878

In [297]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
perc_pass_reading = passing_reading_count /dist_student_count
perc_pass_reading

0.8580546336482001

In [298]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /dist_student_count
overall_passing_rate

0.6517232575950983

In [299]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [dist_student_count],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_readingscore],
    "Average Math Score": [average_mathscore],
    "% Passing Reading":[perc_pass_reading],
    "% Passing Math": [perc_pass_math],
    "Overall Passing Rate": [overall_passing_rate]
}
)
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.1f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.1%}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.1%}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map("{:.1%}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,"39,170","$24,649,428.00",81.9,79.0,85.8%,75.0%,65.2%

## School Summary

In [300]:
# Use the code provided to select the school type 
#group schools together
by_school = school_data_complete.set_index('school_name').groupby(['school_name'])
types = schooldata_df.set_index('school_name')['type']
types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [301]:
# Calculate the total student count
studentsperschool = by_school['Student ID'].count()
studentsperschool

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [302]:
schoolbudget = schooldata_df.set_index('school_name')['budget']
schoolbudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [303]:
# Calculate the total school budget and per capita spending
budgetperstudent = schooldata_df.set_index('school_name')['budget']/schooldata_df.set_index('school_name')['size']
budgetperstudent

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [304]:
# Calculate the average test scores 
avgreading = by_school['reading_score'].mean()
avgmath = by_school['math_score'].mean()

avgreading
#avgmath

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [305]:
# Calculate the number of schools with math scores of 70 or higher
#schoolspassingmath = avgmath[avgmath >= 70].count()
#schoolspassingmath

schoolpassingmathavg = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/studentsperschool
schoolpassingmathavg

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [306]:
# Calculate the number of schools with reading scores of 70 or higher
schoolpassingreadingavg = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/studentsperschool
schoolpassingreadingavg

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [307]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passingboth = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/studentsperschool 
passingboth

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [308]:
# Use the provided code to calculate the passing rates
per_school_passing_math = schoolpassingmathavg.groupby(["school_name"]).count() / studentsperschool * 100
per_school_passing_math

per_school_passing_reading = schoolpassingreadingavg.groupby(["school_name"]).count() / studentsperschool * 100
per_school_passing_reading

overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/studentsperschool 
overall

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [309]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type: ": types,
    "Number of Students: ": studentsperschool,
    "School Budget: ": schoolbudget,
    "Spend per Student: ": budgetperstudent,
    "Average Math Score: ": avgmath,
    "Average Reading Score: ": avgreading,
    "% Passing Math: ": schoolpassingmathavg,
    "% Passing Reading: ": schoolpassingreadingavg,
    "Overall Passing Rate: ": passingboth
})
per_school_summary

# Formatting
per_school_summary["Number of Students: "] = per_school_summary["Number of Students: "].map("{:,}".format)
per_school_summary["School Budget: "] = per_school_summary["School Budget: "].map("${:,.2f}".format)
per_school_summary["Spend per Student: "] = per_school_summary["Spend per Student: "].map("${:,.2f}".format)
per_school_summary["Average Math Score: "] = per_school_summary["Average Math Score: "].map("{:,.2f}".format)
per_school_summary["Average Reading Score: "] = per_school_summary["Average Reading Score: "].map("{:,.2f}".format)
per_school_summary["% Passing Math: "] = per_school_summary["% Passing Math: "].map("{:,.1%}".format)
per_school_summary["% Passing Reading: "] = per_school_summary["% Passing Reading: "].map("{:,.1%}".format)
per_school_summary["Overall Passing Rate: "] = per_school_summary["Overall Passing Rate: "].map("{:,.1%}".format)


# Display the DataFrame
per_school_summary

,School Type:,Number of Students:,School Budget:,Spend per Student:,Average Math Score:,Average Reading Score:,% Passing Math:,% Passing Reading:,Overall Passing Rate:
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.3%,96.6%,90.3%

## Highest-Performing Schools (by % Overall Passing)

In [310]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highestperformace = per_school_summary.sort_values("Overall Passing Rate: ", ascending=False) 


highestperformace.head()

,School Type:,Number of Students:,School Budget:,Spend per Student:,Average Math Score:,Average Reading Score:,% Passing Math:,% Passing Reading:,Overall Passing Rate:
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

In [311]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
highestperformace = per_school_summary.sort_values("Overall Passing Rate: ", ascending=True) 


highestperformace.head()

,School Type:,Number of Students:,School Budget:,Spend per Student:,Average Math Score:,Average Reading Score:,% Passing Math:,% Passing Reading:,Overall Passing Rate:
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%

## Math Scores by Grade

In [312]:
# Use the code provided to separate the data by grade
# use the by-Shcool for reference; group by grade

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
#ninth_graders
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby('school_name').mean()
#ninth_graders_scores
tenth_graders_scores = tenth_graders.groupby('school_name').mean()
eleventh_graders_scores = eleventh_graders.groupby('school_name').mean()
twelfth_graders_scores =twelfth_graders.groupby('school_name').mean()

# Use the code to select only the `math_score`. ##["math_score"].mean()
ninth_grade_math_scores = ninth_graders_scores.groupby('school_name')["math_score"].mean()
#ninth_grade_math_scores
tenth_grader_math_scores = tenth_graders_scores.groupby('school_name')["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders_scores.groupby('school_name')["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders_scores.groupby('school_name')["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th: ": ninth_grade_math_scores,
                                     "10th: ": tenth_grader_math_scores,
                                     "11th: ": eleventh_grader_math_scores,
                                     "12th: ": twelfth_grader_math_scores    
})


# Minor data wrangling
math_scores_by_grade.index.name = 'School'

#format data
math_scores_by_grade["9th: "] = math_scores_by_grade["9th: "].map("{:.1f}".format)
math_scores_by_grade["10th: "] = math_scores_by_grade["10th: "].map("{:.1f}".format)
math_scores_by_grade["11th: "] = math_scores_by_grade["11th: "].map("{:.1f}".format)
math_scores_by_grade["12th: "] = math_scores_by_grade["12th: "].map("{:.1f}".format)


# Display the DataFrame
math_scores_by_grade

                      9th:  10th:  11th:  12th:
School
Bailey High School     77.1   77.0   77.5   76.5
Cabrera High School    83.1   83.2   82.8   83.3
Figueroa High School   76.4   76.5   76.9   77.2
Ford High School       77.4   77.7   76.9   76.2
Griffin High School    82.0   84.2   83.8   83.4
Hernandez High School  77.4   77.3   77.1   77.2
Holden High School     83.8   83.4   85.0   82.9
Huang High School      77.0   75.9   76.4   77.2
Johnson High School    77.2   76.7   77.5   76.9
Pena High School       83.6   83.4   84.3   84.1
Rodriguez High School  76.9   76.6   76.4   77.7
Shelton High School    83.4   82.9   83.4   83.8
Thomas High School     83.6   83.1   83.5   83.5
Wilson High School     83.1   83.7   83.2   83.0
Wright High School     83.3   84.0   83.8   83.6

## Reading Score by Grade

In [318]:
# Use the code provided to separate the data by grade


###########
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
#ninth_graders
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby('school_name').mean()
#ninth_graders_scores
tenth_graders_scores = tenth_graders.groupby('school_name').mean()
eleventh_graders_scores = eleventh_graders.groupby('school_name').mean()
twelfth_graders_scores =twelfth_graders.groupby('school_name').mean()

# Use the code to select only the `reading_score`. ##["rreading_score"].mean()
ninth_grade_reading_scores = ninth_graders_scores.groupby('school_name')["reading_score"].mean()
#ninth_grade_reading_scores
tenth_grader_reading_scores = tenth_graders_scores.groupby('school_name')["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders_scores.groupby('school_name')["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders_scores.groupby('school_name')["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th: ": ninth_grade_reading_scores,
                                     "10th: ": tenth_grader_reading_scores,
                                     "11th: ": eleventh_grader_reading_scores,
                                     "12th: ": twelfth_grader_reading_scores    
})


# Minor data wrangling
reading_scores_by_grade.index.name = 'School'

#format data
reading_scores_by_grade["9th: "] = reading_scores_by_grade["9th: "].map("{:.1f}".format)
reading_scores_by_grade["10th: "] = reading_scores_by_grade["10th: "].map("{:.1f}".format)
reading_scores_by_grade["11th: "] = reading_scores_by_grade["11th: "].map("{:.1f}".format)
reading_scores_by_grade["12th: "] = reading_scores_by_grade["12th: "].map("{:.1f}".format)


# Display the DataFrame
reading_scores_by_grade

                      9th:  10th:  11th:  12th:
School
Bailey High School     81.3   80.9   80.9   80.9
Cabrera High School    83.7   84.3   83.8   84.3
Figueroa High School   81.2   81.4   80.6   81.4
Ford High School       80.6   81.3   80.4   80.7
Griffin High School    83.4   83.7   84.3   84.0
Hernandez High School  80.9   80.7   81.4   80.9
Holden High School     83.7   83.3   83.8   84.7
Huang High School      81.3   81.5   81.4   80.3
Johnson High School    81.3   80.8   80.6   81.2
Pena High School       83.8   83.6   84.3   84.6
Rodriguez High School  81.0   80.6   80.9   80.4
Shelton High School    84.1   83.4   84.4   82.8
Thomas High School     83.7   84.3   83.6   83.8
Wilson High School     83.9   84.0   83.8   84.3
Wright High School     83.8   83.8   84.2   84.1

## Scores by School Spending

In [314]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [315]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df.head()

,School Type:,Number of Students:,School Budget:,Spend per Student:,Average Math Score:,Average Reading Score:,% Passing Math:,% Passing Reading:,Overall Passing Rate:
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%

In [316]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(budgetperstudent, spending_bins, labels = labels)
by_spending = school_spending_df.groupby('Spending Ranges (Per Student)')
by_spending

In [317]:
#  Calculate averages for the desired columns.

spending_math_scores = by_spending['math_scores_by_grade'].mean()
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

KeyError: 'Column not found: math_scores_by_grade'

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

:

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

:

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

:

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

:

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

:

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

:

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary

:

: